<title>Contact Page Design</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    <link rel="stylesheet" href="contact-us.component.css" />
  <body>
    <div class="img">
    <img src="https://public-files.hoa-express.com/website-1125211413/pages/page-3297395191/FC9jYiLJfNpiHyJE.gif">
  </div>
  <div class="container">
    <h2>Get in touch</h2>
    <p>Feel free to contact me about anything related to Web Development.</p>
    <form class="contact-form" (submit)="handleSubmit()">
      <div class="input-area">
        <input type="text" placeholder="Your name" [(ngModel)]="formData.name" name="name" required>
      </div>
      <div class="input-area">
        <input type="email" placeholder="Email address" [(ngModel)]="formData.email" name="email" required>
      </div>
      <div class="input-area">
        <input type="text" placeholder="Subject" [(ngModel)]="formData.subject" name="subject" required>
      </div>
      <div class="input-area h-80">
        <textarea placeholder="Your message" [(ngModel)]="formData.message" name="message" required></textarea>
      </div>
      <button type="submit" class="sendbtn">Send</button>
    </form>
  </div>
    <div class="social-container">
      <div class="custom-social-container">
        <p>Contact me on</p>
        <button class="cross-btn"><i class="fas fa-times"></i></button>
        <ul>
          <li>
            <a
              href="https://instagram.com/codewithfaraz"
              target="_blank"
              rel="nofollow"
            >
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/@codewithfaraz"
              target="_blank"
              rel="nofollow"
            >
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li>
            <a
              href="https://facebook.com/codewithfaraz"
              target="_blank"
              rel="nofollow"
            >
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a
              href="https://twitter.com/codewithfaraz"
              target="_blank"
              rel="nofollow"
            >
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a
              href="https://linkedin.com/in/farazc60"
              target="_blank"
              rel="nofollow"
            >
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>