<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="color:white">E-Comm website</a>
    </div>
</nav>


<div class="container">
    <div class="row productdet">
        <div class="col-sm-3">
            <img class="product-img" src="">
        </div>
        <button class="btn btn-primary">Buy Now</button>
        <button class="btn btn-success">Add to Cart</button> 
    </div>
</div>


<div class="col-sm-8">
    <div>
        <h1>HP 8 GB PENDRIVE</h1>
        <p style="color:green">Special Price</p>
        <h3>Price: $30</h3>
        <strong>Category:&nbsp; Electronics</strong><br>
        <strong>Description:</strong><br>
        <p>Durable metal Charming appearance which brings a great sense of style Electronic plating after pr
         </p>
    </div>
</div>


