<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Responsive Registration Form | CodingLab</title>
  <link rel="stylesheet" href="registeruser.component.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form [formGroup]="registerForm" (submit)="onSubmit()">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" formControlName="username" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <span class="details">Phone</span>
            <input type="text" formControlName="phone" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" formControlName="password" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" formControlName="confirmpassword" placeholder="Confirm your password" required>
          </div>
        </div>
        <div class="button">
          <button type="submit" class="register-button">Register</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
