.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #232f3e;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto; /* Pushes the footer to the bottom */
  }
  
  .social-icons .icon {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  